@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
html{
  height:100%;
}
body{
  margin:0px;
  height:100%;
  display:flex;
  flex-direction:column;
  background-color:#f6f3eb;
  font-family: "Red Hat Display";
}
#loginWrapper{
  height:100%;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
}
#loginLeft{
  height:100%;
  display:flex;
  flex-direction:column;
  width:30%;
  justify-content:center;
  align-items:center;
}
#loginRight{
  height:100%;
  display:flex;
  flex-direction:row;
  width:70%;
  justify-content:center;
  align-items:center;
}
#loginHeader{
  font-size:24px;
  font-weight:bold;
}
#loginFields{
  display:flex;
  width:30%;
  background-color:white;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  padding:20px 70px;
  border-radius:10px;
}
#loginFields input{
  width:100%;
  font-size:16px;
  background-color:rgba(0,0,0,0);
  border:none;
  margin:20px 0px;
  padding:10px 0px;
  border-bottom: 2px solid rgb(110, 110, 110);
}
#loginFields input:focus{
  outline:none;
  border-bottom: 2px solid #6968be;
}
#loginFields a{
  text-decoration:none;
}
#loginSubmit{
  font-size:18px;
  margin:5px;
  color:white;
  border-radius:30px;
  background-color:rgb(0, 0, 0);
  padding:10px 20px;
  font-weight:500;
}
#loginFields a:hover{
  text-decoration:underline;
}
#forgot{
  font-weight:bold;
  color:#6968be;
  font-size:18px;
  margin:5px 0px;
}
#forgot:hover{
  text-decoration:underline;
}
#need{
  color:black;
  font-size:20px;
}
#loginFields h2{
  font-size:16px;
  color:rgb(82, 155, 82);
  font-weight:normal;
}
#errorLabel{
  margin:3px 0px;
  font-size:18px;
  font-weight:normal;
  color:red;
}

#googleLoginBox{
  display:flex;
  flex-direction:row;
  align-items:stretch;
  border-radius:3px;
  margin:20px 20px;
  justify-content:center;
  padding:10px;
}
#googleLoginBox h2{
  margin:0px;
  font-weight:normal;
  color:black;
  font-size:18px;
}
#googleLoginBox img{
  width:25px;
  margin:0px 5px;
}
#homeWrapper{
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:start;
  align-items:stretch;
  background: url('images/bg.png');
  background-size:cover;
  background-position:center;
}
#bgFilter{
  height:100%;
  backdrop-filter:blur(7px) brightness(0.6);
  transition: margin-left .5s;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}
#welcomeText{
  font-family: "Red Hat Display";
  font-size:100px;
  font-weight:800;
  margin: 0px 0px 75px 0px;
  color:rgb(255, 255, 255)
}
#startStretch{
  font-family: "Red Hat Display";
  margin: 75px 0px 0px 0px;
  font-size:36px;
  font-weight:350;
  color:rgb(53, 45, 45);
  border-radius:30px;
  background-color:rgb(207, 152, 171);
  padding:15px 30px;
}
#homeSide{
  display:flex;
  flex-direction:row;
  justify-content:start;
}
#homeMain{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
#homeMain hr{
  width:100%;
  border: solid 3px rgb(255, 255, 255);
}
#sidebar{
  background-color:rgb(76, 92, 128);
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:start;
  height:100%;
  width:0;
  overflow-x: hidden;
  z-index: 1;
  transition: 0.5s;
}
#sidebar a{
  font-family: "Red Hat Display", sans-serif;
  font-weight:400;
  font-size:30px;
  color:white;
  text-decoration:none;
  margin:0px;
  padding: 30px 5px;
  width:100%;
  text-align:center;
  transition: background-color 0.3s;
}
#sidebar a:hover{
  background-color:rgba(255, 255, 255, 0.103)
}
#openSidebar{
  display:flex;
  margin: 10px;
  font-size:36px;
  font-weight:bold;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  color:white;
}
#profileWrapper{
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:start;
  align-items:stretch;
  /*background-color:rgb(230, 230, 230)*/;
  background: url('images/bgProfile.png');
  background-size:cover;
  background-position:center;

}
#profileMain{
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content:start;
  align-items:center;
}
#logout{
  font-size:20px;
  font-weight:bold;
  border-radius:30px;
  padding:10px 20px;
  background-color: rgb(255 255 255 / 45%);
}

#profileWelcome{
  font-size:60px;
  font-weight:600;
  color:rgb(255, 255, 255);
  margin:30px 0px 10px 0px;
}
.profileBox{
  background-color:rgb(255 255 255 / 45%);
  width:80%;
  border-radius:20px;
  margin: 20px 0px;
  display:flex;
  flex-direction:column;
  align-items:start;
  padding:20px 25px;
}
.profileBox h1{
  font-size:36px;
  font-weight:bold;
  margin:10px 0px;
  color:rgb(61, 53, 53);
}
.profileBox p{
  font-size:24px;
  font-weight:400;
  margin:10px 0px;
  color:rgb(61, 53, 53);
}
.hr2{
  width:80%;
  border: solid 1px rgb(61, 53, 53);
  margin:0px 0px 20px 0px;
}
#hr1{
  width:80%;
  border: 2px solid rgb(255, 255, 255);
}
video {
  filter: brightness(80%);
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.hidden{
  opacity:0;
}
