@font-face {
  font-family: ObjectSansThin;
  font-weight: bold;
  src: url("ObjectSans-Regular.otf") format("opentype");
}

@font-face {
  font-family: ObjectSans;
  font-weight: bold;
  src: url("ObjectSans-Heavy.otf") format("opentype");
}


body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 650px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  font-family: Calibri;
  padding: 6px 8px 20px 16px;
  text-decoration: none;
  font-size: 35px;
  color: rgb(255, 255, 255);
  display: block;
}

.sidenav a:hover {
  color: #3700ff;
}

.main {
  margin-left: 650px;
  font-size: 28px;
  padding: 0px 10px;
}

#poseTitle {
  font-size: 50px;
  font-family: ObjectSans, Calibri;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin: 0px;
  padding-top: 20px;
}

#poseDescription {
  font-size: 25px;
  font-family: ObjectSansThin, calibri;
  color: rgb(0, 0, 0);
  margin-bottom: 30px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
